{% extends 'base.html'%} 
{% block head %}
<title>About Us</title>
{% endblock%} 
{% block body %}
<br>
<h1>About Us</h1>
<br>
<div class="bg-light p-5 rounded">
  <div class="col-sm-8 mx-auto">
    <h1>Description</h1>
    <p>
      This is a social app which allow people to post a message or blog on various topics in whichever they are 
      intrested. In this user can create their account and after that they can start sharing their posts to other
      people. Currently this is in prototype mode and we are working hard to give you best user experience. The users
      registered need not to worry about their personal data they give while registering.
      After creating a BlogPost you have access to delete it and also edit it whenever yo needed to do so.
      No other user can edit or delete your blogpost from your account untill you share your data. So whithout any 
      fear enjoy Blogging.
    </p>
    
    <h3>Enjoy Blogging Using BlogPost</h3>
  </div>
</div>
{% endblock %}
